/*обычно рекомендуется ставить эту конструкцию, чтобы создать предсказуемый и управляемый макет страницы*/
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/*стилизуем контейнер, куда входят и логотип и меню и вообще все*/
.conteiner {
  width: 1170px; /*оптимальная ширина для сайта*/
  margin: 0 auto; /*ноль сверху и снизу, а по бокам авто. Такой margin позволяет автоматически смещать контейнер в ЦЕНТР, а справа и слева появляется ОДИНАКОВЫЙ ОТСТУП*/
}

/*применяем стили к определенному меню */
.menu_inner {
  margin: 20px 0; /* отступ сверху и снизу 20, а по бокам 0*/
  display: flex; /*логотип стоит слева, текст справа, типа в одну строку, но не в колонку*/
  justify-content: space-between; /*мы раздвинули контент по краям, слева-логотип, справа-список меню. Или по другому РАЗДВИНУЛИ ДВА <DIV>*/
  align-items: center; /* выравнили по вертикали  */
}
.nav {
  display: flex; /*меню стояло в колонку, а теперь в строку*/
  list-style: none; /* убрали маркеры */
  padding: 0; /* обычно их убирают, т.к. нам лишние отстпупы не нужны   */
  margin: 0; /* обычно их убирают, т.к. нам лишние отступы не нужны   */
  text-transform: uppercase; /* заглавные буквы */
  color: #999; /* цвет текста */
}

/* декорируем тег "а" */
.nav li a {
  text-transform: uppercase; /* заглавные буквы */
  color: #999; /* цвет текста*/
  text-decoration: none; /* убрать подчеркивание ссылок */
  padding: 10px 20px; /* раздвинули границы заливки кнопки, КНОПКА СТАЛА БОЛЬШЕ на 10px сверху 20px по бокам. Также мы сделали ОТСТУПЫ между элементами меню, иначе все слова прилипли друг к другу */
}

/* стилизуем ссылки так, чтобы при наведении они выглядили как кнопки, используем псевдокласс hover */
.nav li a:hover {
  background-color: #ffc744; /* цвет кнопки в момент наведения */
  color: white; /* цвет текста внутри кнопки, в момент наведнения */
  border-radius: 5px; /* создаем скругленный контур для кнопки*/
}

/* .menu {
  border: 1px solid red;
} */
