* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.conteiner {
  width: 1170;
  margin: 0 auto;
}

/*Установим нашему боксу стили*/
.box-inner {
  text-align: center; /*поставим все по центру*/
  color: #666974; /*зададим цвет текста всему боксу*/
}

/*Работаем с заголовком !ОБРАЩАЕМСЯ К H1 НАПРЯМУЮ БЕЗ ТОЧКИ! */
h1 {
  max-width: 800px; /*ограничим наш заголовок этой шириной*/
  margin: 80px auto 30px; /*поставим для заголовка отступ сверху 80px, снизу 30px*/
  line-height: 45px; /*межстрочный интервал*/
  font-weight: normal; /*жирность шрифта*/
}

/*Стилизуем параграф*/
p {
  max-width: 900px; /* также ограничим параграф шириной в 900px*/
  margin: 0 auto 40px; /*сделаем отступ снизу 40px*/
  line-height: 30px;
}

/*Стилизуем весь блок с иконками*/
.icon_box {
  margin-bottom: 60px; /*добавим отступ от иконок вниз, чтобы следующий раздел не слипался с текущим*/
}

/*Стилизуем только иконки*/
i.fa {
  color: #5eb6c4;
  font-size: 80px;
  margin: 0 50px;
}
